/* A body of the login Component */
body{
    background-color: #36454F;
}
/* use to style the login conntainer */
.login{
    width: 15%;
    margin-top: 18%;
    text-align: center;
    margin-left: 40%;
}

